@page
@model Apex.Events.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="alert alert-danger mt-4">
    <h4 class="alert-heading">Access Denied</h4>
    <p>You do not have permission to access this page.</p>
</div>