@page
@model Apex.Events.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<form method="post" class="mt-4">
    <button type="submit" class="btn btn-outline-danger">Confirm Logout</button>
</form>